<h1>All Posts</h1>

<% @topics.each do |topic| %>
	<% posts = topic.posts %>
	<% posts.each do |post| %>
		<%= render partial: 'posts/post', locals: {topic: topic, post: post} %>
	<% end %>
<% end %>

<!--  <%# @posts.each do |post| %>
 	<div class="media">
 		<div class="media-body">
 			<h4 class="media-heading">
 				<%#= link_to post.title, [post.topic, post] %>
 			</h4>
 		</div>
 		<small>
 	        submitted <%#= time_ago_in_words(post.created_at) %> ago by <%#= post.user.name %><br/>
 	        <%#= post.comments.count %> Comments
 	    </small>
 	</div>
 <%# end %> -->